<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar novos usuários</h5>
                    <p class="card-text">Clique abaixo para cadastrar novos usuários à plataforma, você será direcionado para a tela de cadastros. </p>
                    <a class="btn btn-primary" routerLink="../services">Cadastrar</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Colsultar usuários cadastrados</h5>
                    <p class="card-text">Clique abaixo para consultar usuários já cadastrados na plataforma, você será direcionado para a tela de consultas</p>
                    <a class="btn btn-primary" routerLink="../about">Consultar</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Lista de usuários</h5>
                    <p class="card-text">Clique aqui para editar, visualizar detalhes, e excluir usuários.</p>
                    <a class="btn btn-primary" routerLink="../usuarios">Listar</a>
                </div>
            </div>
        </div>
    </div>
</div>