<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">CADASTRO DE USUÁRIOS</h5>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Nome completo</h5>
                    <input class="card-text" placeholder="Digite aqui o nome completo.">
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <input class="card-text" placeholder="Digite aqui o email.">
                </div>
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="password">Senha temporária</h5>
                        <input class="card-text" type="password">
                    </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">CPF</h5>
                    <input class="card-text" placeholder="Digite aqui o CPF.">
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Data de nascimento</h5>
                     <input class="card-text" placeholder="dd/mm/yyyy.">
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Endereço</h5>
                    <input class="card-text" placeholder="Digite o nome da Rua.">
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">CEP</h5>
                    <input class="card-text" placeholder="Digite o CEP.">
                </div>
                <form class="form-reg">
                    <label class="label-cadastrar">
                        <a class="btn btn-primary">Cadastrar Usuário</a>
                    </label>
                    <label for="label-btn">
                        <a class="btn btn-primary">Limpar</a>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>