<div class="container-consulta">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-consultar">Consultar usuário</h5>
                    <form>
                        
                            <input class="input-consultar" type="Usuário" placeholder="Digite um Nome de usuário, E-mail, CPF, ou Número de celular.">
                        <label class="label-consulta">
                            <a class="btn btn-primary">Consultar</a>
                        </label>
                    </form>
            </div>
        </div>
    </div>
</div>