<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Listagem de usuários cadastrados</h5>
                    <p class="card-text">Para editar ou remover usuários, selecione o usuário desejado.</p>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Pesquisar</h5>
                    <form> 
                        <input class="card-text" placeholder="Digite o nome do usuário.">
                        <label class="label-pesquisar">
                            <a class="btn btn-primary">Pesquisar</a>
                        </label>
                    </form>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <form> 
                        <label class="label-edita">
                            <a class="btn btn-primary">Editar</a>
                        </label>

                        <label class="label-editb">
                            <a class="btn btn-primary">Remover</a>
                        </label>

                        <label class="label-editc">
                            <a class="btn btn-primary">Adicionar</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>