/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.input-consultar{
    margin-right: 30px;
    width: 465px;
}
.label-consulta{
    padding: 15px 15px 15px 0px;
}
.card-consultar {
    padding: 25px 0px 15px 0px;
}
.card-body{
    width: 600px;
    padding: 15px 15px 15px 15px;
    display: block;
}
.card-text{
    width: 450px;
    padding-left: 10px;
}
.label-cadastrar{
    padding: 18px 18px 18px 18px;
}
.label-pesquisar{
    padding: 10px 10px 10px 10px;

}
.label-edita{
    padding: 10px 10px 10px 10px;
}
.label-editb{
    padding: 10px 10px 10px 10px;
}.label-editc{
    padding: 10px 10px 10px 10px;
}


